/* define the background and flex character of the application */
.App {
  background: linear-gradient(blue, pink);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Define the background of the header */
.header {
  height: 6rem;
  border-bottom: 2px solid rgba(204, 204, 204, 0.658);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgb(109, 109, 109);
  opacity: 0.6;
}

/* Define the rotating animation effect of the logo */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:rotate(359deg);
  }
}

/* Let the logo rotating in a constant speed */
.linear {
  animation-timing-function: linear;
}

/* Let the logo rotating infinitely */
.infinite {
  animation-iteration-count: infinite;
}

/* Define the characters of the logo */
.logo {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 60%;
  border: 3px solid;
  animation: rotation 2s linear infinite;
}

/* Define the font character of the header */
.title {
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  margin-left: 1rem;
  font-family: cursive;
}

/* Define the background character of the button chatter */
.footer {
  height: 4rem;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgb(149, 170, 180);
  position: relative;
}

/* Define the text's character */
.text-input {
  width: 60%;
  border: 1px solid white;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background: whitesmoke;
  color: black;
}

/* Define the character of the send button */
.send {
  background: white;
  border-radius: 30%;
  border: none;
  height: 1.7rem;
  width: 1.7rem;
  position: relative;
  right: 5rem;
  /* left: -0.3rem; */
  cursor: pointer;
}

.message {
  border-radius: 1.4rem;
  display: table;
  padding:0.8rem;
  margin:0.5rem;
  font-size:20px;
  background-color:black;
  color:#ffffff;
  opacity: 0.79;
}